Roll a Ball.userprefs
Library/assetDatabase3
Library/InspectorExpandedItems.asset
Library/shadercompiler-UnityShaderCompiler0.log
Library/shadercompiler-UnityShaderCompiler1.log
Library/shadercompiler-UnityShaderCompiler2.log
Library/shadercompiler-UnityShaderCompiler3.log
Library/metadata/00/00000000000000004000000000000000
Library/metadata/00/00000000000000006100000000000000
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/ShaderCache
Temp